html 
{
    height: 100%;
}

.wrapper
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo
{
    padding: -10px;
    float: left;
    height: 120px;
    width: 120px;
    border-radius:100px;
    margin-right: 20px;
}

header 
{
    width: 100vw;
    height: 170px;
    margin-top: -20px;
    padding-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blue;
}

.header, .nav_menu, .content, .form, .table
{
    margin:0 auto;
    width:100vw;
    background-color: blue;
}

header
{
    margin-bottom: 5px;
}
.nav_menu, .content, .form, .table
{
    margin-top: 5px;
    margin-bottom:5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width:100vw;
}

footer
{
    margin-top: 5px;
}


ul
{
    list-style-type: none;
}

h1
{
    padding: 20px;
    font-size: 64px;
    color:white;
    white-space:nowrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body
{
    margin: 0px;
    background-color: white;
    color:white;
}

a:link {
    color: white;
  }
a:visited {
    color: #c8c8c8;
  }
a:active {
    color: white;
  }

.flower
{
    width: 400px;
}
.map
{
    width:900px;
}
.odd
{
background-color: #ffff40;
}
.even
{
background-color: #ffaa00;
}

table,th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    color:black;
}

.table
{
  order:2;
}


.form
{
  order:1;
}
footer
{
  background-color: blue;
  width:100vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  order:3;
}

.footer
{
    margin: 0 auto;
    text-align: center;
    min-width: 1200px;
}

@media screen and (min-device-width: 800px) 
{


    .header, .nav_menu, .content, .form, .table, .footer
    {
        max-width: 960px;
    }

    .footer
    {
        width:100%;
    }
    
    .nav_menu
    {
        display: flex;
    }

    .table
    {
        order:1;
    }
    .form
    {
        order:2;
    }

}
