html 
{
    height: 100%;
    overflow-x:hidden;
}

a:link {
    color: white;
  }
a:visited {
    color: #c8c8c8;
  }
a:active {
    color: white;
  }

  ul
{
    list-style-type: none;
}

body
{
    background-color: white;
    color:white;
    overflow-x:hidden;
}

header 
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blue;
}

.logo
{
    float: left;
    width: 120px;
}

h1
{
    color:white;
    white-space:nowrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float:right;   
}

.nav_menu, .content, .form, .table
{
    background-color: blue;
}

.flower
{
    width: 400px;
}

.odd
{
background-color: #ffff40;
}
tr.even
{
background-color: #ffaa00;
}

table,th, td {
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
    color:black;
}

.table
{
  order:2;
}

.form
{
  order:1;
}

footer
{
  background-color: blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  order:3;
}

@media screen and (min-device-width: 800px) 
{

    .header, .nav_menu, .content, .form, .table, .footer
    {
        max-width: 960px;
        width:100%;
    }

    h1
    {
        float:none;
    }
    
    .nav_menu
    {
        display: flex;
    }

    .table
    {
        order:1;
    }
    .form
    {
        order:2;
    }

}
